button.create {
	width: 120px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -60px;
	margin-top: -15px;
	background-color: #ffffff;
	border-radius: 15px;
	border-style: none;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	transition: all 0.1s;
	outline: none;
}

button.create:hover {
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.15);
}

button.create:active {
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	background-color: #dddddd;
}

.rect {
	width: 100px;
	height: 100px;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #AAAAAA;
	position: absolute;
}

.button {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	cursor: pointer;
	float: left;
}

.button:hover + .buttonStyledropdown {
	display: initial;
}

.buttonStyledropdown {
	left: 100%;
    position: absolute;
    width: 200px;
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 1px;
    display: none;
}

.buttonStyledropdown:hover {
	display: initial;
}